#section-div{
    background-color:black;
    width: 70%;
    height: 100vh;
}
.Daywise-weather{
    width: 130px;
    height: 145px;
    background-color:rgb(7, 9, 36) ;
    text-align: center;
    padding: 8px;
}
.degree{
    font-weight: 800;
    font-size: 14px;
    margin-left: 15px;
    background-color: rgb(47, 39, 70);
    border-radius: 60%;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
}
#miniCard-wrapper{
    margin-top: 30px;
    width: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    
}
@media(max-width:900px){
   #section-div{
    width: 100%;
    height: 100%;
   }
   #miniCard-wrapper{
    width: 290px;
    justify-content: space-between;
    flex-wrap: wrap;
   }
   .Daywise-weather{
    margin-bottom: 15px;
   }
   .degree{
    display: none;
   }
}