#main-div{
    background-color: rgb(9, 10, 35);
    width: 30%;
    height: 100vh;
    padding: 1%;
    
}
/* #search-icon-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:100px;
} */
#sidebarHide-wrapper{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}
input{
    background-color: transparent;
    outline:none;
    border: 2px solid white;
    padding: 13px;
    width: 250px;
    color: white;
    text-align: center;
    font-weight: 600;
}
#searchbar-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
#search-btn{
    padding:15px;
    width: 100px;
    background-color: rgb(67, 5, 236);
}
#search-icon{
    position:absolute;
    left:94px;
    top:84px;
    width:20px;
}

@media(max-width:900px){
    #main-div{
        width: 100%;
    }
    #sidebarHide-wrapper{
        width: 310px;
        padding: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    #search-btn{
        padding:12px;
        width: 80px;
        background-color: rgb(67, 5, 236);
    }
    input{
        background-color: transparent;
        outline:none;
        border: 2px solid white;
        width: 205px;
        color: white;
        text-align: left;
        font-weight: 600;
    }
    #search-icon{
        position:absolute;
        left:80px;
        top:80px;
        width:20px;
    }
}


